*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --transparent-black: #000000ce;
  --dark-green: #073f07;
  --white: #fff;
  --light-grey: #efefef;
  --grey: #ebe9e9;
  --dark-grey: #434242;
  --light-grey-border: 1px solid var(--light-grey);
  --thicker-grey-border: 2px solid var(--light-grey);
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (min-width: 960px) {
  main {
    align-items: normal;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

img {
  border-radius: 10px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

hr {
  border: var(--light-grey-border);
}

/* TODO: add lightbox styles */
.lightbox {
  display: none;
}

header {
  margin: 15px 5px;
}

@media (min-width: 960px) {
  header {
    display: flex;
    align-items: center;
  }
}

.desktop-nav ul {
  display: none;
  gap: 10px;
  list-style-type: none;
}

@media (min-width: 960px) {
  .desktop-nav ul {
    display: flex;
  }
}

.brand-name {
  margin: 0 20px;
}

.nav-link {
  color: var(--black);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.hamburger-btn {
  position: absolute;
  top: 15px;
  right: 15%;
  background: none;
  border: none;
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--transparent-black);
}

.mobile-nav {
  width: 50%;
  background-color: var(--white);
  position: relative;
  transition: ease 0.5s;
}

.mobile-nav button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: var(--thicker-grey-border);
  background: none;
  font-size: 1.2rem;
}

.mobile-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  margin-left: 10px;
  height: 100vh;
}

.mobile-nav ul li {
  font-size: 1.3rem;
}

.shopping-cart-btn {
  background-color: transparent;
  border: none;
}

.shopping-cart-icon {
  position: absolute;
  top: 15px;
  right: 25px;
}

@media (min-width: 960px) {
  .shopping-cart-icon {
    right: 15px;
  }

  .hamburger-menu,
  .hamburger-icon {
    display: none;
  }
}

.featured-images-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .product-info-container,
  .featured-images-container {
    max-width: 50%;
  }
}

.featured-img {
  width: 100%;
  max-height: 600px;
  margin-bottom: 20px;
}

.thumbnail-img-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 80%;
}

@media (min-width: 768px) {
  .featured-images-container {
    width: 50%;
  }

  .featured-img {
    max-width: 600px;
  }
}

.highlighted {
  border: 5px solid var(--dark-green);
}

.thumbnail {
  height: 200px;
}

.thumbnail:hover:not(.highlighted) {
  filter: opacity(0.5);
}

.title {
  margin-top: 20px;
  font-size: 1.875rem;
}

.total-reviews {
  margin: 10px 0 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.star {
  width: 20px;
  height: 20px;
}

.review-text,
small {
  color: var(--dark-grey);
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

small {
  display: inline-block;
  margin: 15px 0;
}

.quantity-label {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 900;
}

.quantity-btn-container {
  display: flex;
  justify-content: space-evenly;
  border: var(--thicker-grey-border);
  border-radius: 5px;
  padding: 5px;
  margin: 15px 0;
  width: 100px;
}

.quantity-btn-container button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
}

.decrement-btn {
  margin-top: -5px;
}

.cart-wishlist-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.add-to-cart-btn,
.wishlist-btn {
  width: 200px;
  font-size: 1.1rem;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  flex-basis: 50%;
}

.cart-wishlist-container button svg {
  position: relative;
  top: 0.15em;
  margin-right: 5px;
}

.add-to-cart-btn {
  color: var(--light-grey);
  background-color: var(--black);
}

.add-to-cart-btn:hover {
  background-color: var(--transparent-black);
}

.wishlist-btn {
  color: var(--black);
  background-color: var(--light-grey);
  margin: 15px 0;
}

.wishlist-btn:hover {
  background-color: var(--grey);
}

.add-to-cart-btn svg {
  fill: var(--light-grey);
}

.tab-list {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--grey);
  margin-bottom: 10px;
}

.tab-list button {
  font-size: 1.1rem;
  padding: 5px 25px;
  border: none;
  background: none;
}

button[aria-selected="true"] {
  background-color: var(--white);
}

.tab-section p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin: 15px 0;
}

.spec-list {
  border: var(--thicker-grey-border);
  border-radius: 5px;
  list-style-type: none;
  padding: 5px;
  position: relative;
}

.spec-list li {
  padding: 10px;
}

.spec-list li:not(:last-of-type) {
  border-bottom: var(--thicker-grey-border);
}

.spec-topic {
  font-weight: 600;
}

.spec-description {
  position: absolute;
  right: 10px;
}

.tab-section:last-of-type {
  border-radius: 15px;
  border: var(--thicker-grey-border);
  padding: 10px;
}

.review-container:first-of-type {
  border-bottom: var(--thicker-grey-border);
}

.name-star-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer {
  font-weight: 700;
}
